@supports (display: grid) {
 /* ---- Mobile Version ---- */

@media (min-width: 320px) and (max-width: 767px)  {
 
  .block4-wrapper {
 
  display: grid; 
  grid-template-columns: 1rem 90% 1rem;
  grid-template-rows:  
  250px
  auto
  auto
  auto  ;
  grid-template-areas: 
  "content-1  content-1   content-1"     
  "sidebar-1  content-2   aside-1"
  "sidebar-1  content-3   aside-2"     
  "sidebar-1  footer      aside-4" ;
  }

  .block4-img{    
    grid-area: content-1;
    border-radius: 5px;
    background-image: url('/assets/city.jpg');    
    background-size: contain;
    background-repeat: no-repeat;
  }

  .block4-title{
    grid-area: content-1;
    font-size: 4rem;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;  
    color: white;
    margin-left: 1rem;
    margin-right: 1rem; 
    background-color: transparent;
    z-index: 2;
    margin-top: 1rem;  
    text-align: center;
    line-height: 4rem;
  
  }

  .block4-subtitle{
      grid-area: content-2; 
      font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
      font-size: 1.5rem;    
      font-weight: normal;
      margin-top: 1rem;
      color: slategrey;
      line-height: 1.5rem;
    }
 
  .block4-footer {
    grid-area: footer;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    
  }
}


/* ---- Tablet/ipad Version ------- */
@media (min-width: 768px) and (max-width: 991px)
{
  .block4-wrapper {
    width:80%;
    margin-left:auto;
    margin-right:auto; 
    display: grid;
    grid-gap: 1em;  
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows:  
    400px
    auto
    auto
    auto  ;
    grid-template-areas: 
    "content-1  content-1   content-1"     
    "sidebar-1  content-2   aside-1"       
    "sidebar-1  footer      aside-4" ;
    }
  
    .block4-img{    
      grid-area: content-1;
      border-radius: 5px;
      background-image: url('/assets/city.jpg');    
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .block4-title{
      grid-area: content-1;
      font-size: 3rem;
      font-weight: normal;
      font-family: 'Dancing Script', cursive;  
      color: white;
      margin-left: 1rem;
      margin-right: 1rem; 
      background-color: transparent;
      z-index: 2;
      margin-top: 2rem;  
      text-align: center;
      line-height: 3rem;
    
    }
  
    .block4-subtitle{
      grid-area: content-1;
      font-size: 1.5rem;
      font-weight: normal;    
      font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif; 
      color: white;    
      background-color: transparent;
      z-index: 2;    
      margin-top: 12rem;  
      text-align: center; 
      line-height: 2rem;
      margin-left:3rem;
      margin-right:3rem;   
      }
   
  
  
   .block4-footer {
    grid-area: footer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  

  
}

/* ---- Desktop Version ------- */

@media (min-width: 992px) 
{
  .block4-wrapper{
    width:80%;
    margin-left:auto;
    margin-right:auto;  
    display: grid;
    grid-gap: 1em;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  
    800px
    auto ;
    
    grid-template-areas: 
    "content-1  content-1   content-1"     
    "sidebar-1  content-2   aside-1"
    }
  
    .block4-img{    
      grid-area: content-1;
      border-radius: 5px;
      background-image: url('/assets/city.jpg');    
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .block4-title{
      grid-area: content-1;
      font-size: 5rem;
      font-weight: normal;
      font-family: 'Dancing Script', cursive;  
      color: white;
      margin-left: 2rem;
      margin-right: 2rem; 
      background-color: transparent;
      z-index: 2;
      margin-top: 3rem;  
      text-align: center;
      line-height: 3rem;
    
    }
  
    .block4-subtitle{
      grid-area: content-1;
      font-size: 2rem;
      font-weight: normal;    
      font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif; 
      color: white;    
      background-color: transparent;
      z-index: 2;    
      margin-top: 12rem;  
      text-align: center; 
      line-height: 2rem;
      /* margin-left:3rem;
      margin-right:3rem;   */
      }
   
   
   .block4-footer {
    z-index: 4;  
    grid-area: content-1;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 39rem;
   
  } 

  }


}
  

